.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dogPic {
  height: .4in;
  width: .4in;
  position: relative;
  left: 10vw;
  top: 10vh;
}

.dogContainer {
  height: 88vh;
  width: 100vw;
  float: bottom;
}

#clouds {
  background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds2-tinypng.png") repeat-x 0 bottom #ACE6FF;
  width:100%;
  height: 100%;
}
